{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<h1>Visiteur 1 / 3</h1>

<hr class="my-4">

<div class="container mt-3">

    {# {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="#" class="btn btn-info my-3">Ajouter un nouveau visiteur</button>

    <button type="submit" class="btn btn-success my-3">Valider la commande</button>

    {{ form_end(form) }} #}

    <div class='response my-3 text-warning' style='display: none'>
    <p><em>\"Il sera nécessaire de présenter votre carte étudiant, militaire ou équivalent lors de votre entrée au musée !\"</em></p>
    </div>

</div>

{% endblock %}

{% block javascripts %}

<script>
    $('#customer_dateOfBirthday').datepicker({
        format: 'dd/mm/yyyy',
        language: 'fr',
        autoclose: true,
        todayHighlight: true
    })
</script>

<script>
    
    
    //$(function(){
        //$(":checkbox").on('click', function(){
            //$('.form-check').after(response)
        //}); 
    //});
    
    //$(":checkbox").click(function(){
        //$('.form-check').after(response)
    //});

</script>

{% endblock %}
