{% block footer %}
<footer class="footer mt-auto py-3">
            <div class="container">
                <span class="text-muted">© 2019 Musée du Louvre - Réalisé par David Lartigue dans le cadre de la formation Chef de projet multimédia - Openclassrooms</span>
            </div>
        </footer>
{% endblock %}