        <meta charset="UTF-8">
        <title>{% block title %}Musée du Louvre{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/app.css" />
        <link rel="stylesheet" href="/css/bootstrap-datepicker.min.css" />
        <link src='https://cdnjs/cloudflare.com/ajax/libs/jquery/3.4.0/core.js' />
        {% endblock %}