        <meta charset="UTF-8">
        <title>{% block title %}Musée du Louvre{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="/css/bootstrap-datepicker.min.css" />
        {% endblock %}