{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block header %}

<div class="jumbotron">
  <h1 class="display-4">Oups, la page demandée n'existe pas !</h1>
  <button type="button" class="btn btn-info my-3" onclick="history.go(-1)">Retour à votre commande</button>
</div>

{% endblock %}

{% block body %}{% endblock %}